
body {
  background-color: #eee;
}

.page {
  position: fixed;
  left: 0;
  right: 0;
  top: 56px;
  bottom: 56px;
}
.page > div.content {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.page > table.content {
  width: 100%;
  height: 100%;
  color: #ccc;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 0 white;
}

button {
  cursor: pointer;
}
button > .material-icons {
  vertical-align: bottom;
}

.alert {
  padding: .5rem 1rem;
}

.list-group-item {
  padding: .5rem 1rem;
}
.list-group-item .playback-time {
  margin-top: 10px;
  font-style: italic;
}
.list-group-item .buttons {
  margin-top: 5px;
  height: 32px;
  float: right;
}
